<div class="user-details">
  <p><b>Username:</b> {{userDetails.username}}</p>
  <p><b>Email:</b> {{userDetails.email}}</p>
  <ul><b>Address:</b>
    <li>{{userDetails.address.street}}</li>
    <li>{{userDetails.address.suite}}</li>
    <li>{{userDetails.address.city}}</li>
    <li>{{userDetails.address.zipcode}}</li>
  </ul>
  <p><b>Phone:</b>{{userDetails.phone}}</p>
  <p><b>Website:</b>{{userDetails.website}}</p>
  <ul><b>Company:</b>
    <li>{{userDetails.company.name}}</li>
    <li>{{userDetails.company.catchPhrase}}</li>
    <li>{{userDetails.company.bs}}</li>
  </ul>
</div>
